<?xml version="1.0" encoding="utf-8"?>
<manifest package="gkjt.github.io.examrevisiontracker"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme.NoActionBar">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".RevisionTimerScreenActivity"
			android:label="@string/title_activity_revision_timer_screen">
		</activity>

		<service
			android:name=".async.RevisionTrackerBackgroundService"
			android:enabled="true"
			android:exported="true">
		</service>

		<activity
			android:name=".SubjectListActivity"
			android:label="@string/title_activity_subject_list">
		</activity>
		<activity
			android:name=".ExamListActivity"
			android:label="@string/title_activity_exam_list"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
	</application>

</manifest>